/* Reponsive */


/* 0-175.9 */

@media (max-width: 575.9px) {
    .heroContent--image {
        display: none;
    }
    .hero_derco {
        top: 0;
    }
    .navbar-collapse ul li {
        margin-right: 0;
    }
    .hero_top-nav .navbar {
        justify-content: end;
    }
    .desc_derco {
        position: absolute;
        right: 0;
        transform: translateY(100%);
        z-index: -1;
        top: 0;
    }
    .bookatrip .bookatrip_values .values-contents .content {
        justify-content: center;
        flex-direction: column;
    }
    .bookatrip .bookatrip_values .values-contents {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .bookatrip .bookatrip_values {
        text-align: center;
        margin-left: 0!important;
    }
    .bookatrip_image {
        display: none;
    }
    .testimonialsSection_content {
        text-align: center;
    }
    .testimonialsSection_content h1 {
        margin: auto;
    }
    .btn-search {
        text-align: center;
    }
    .subcribeSection_cover {
        display: none;
    }
    .heroContent--desc {
        text-align: center;
    }
    .desc_cta {
        justify-content: center;
    }
    .destinations {
        text-align: center;
    }
    .hero_heroContent {
        text-align: center;
    }
    .desc_cta a {
        margin-left: 1.5rem!important;
    }
    .testimonialsSection_content {
        margin-left: 0 !important;
    }
    .hero_heroContent .heroContent--desc .desc_heading {
        font-size: 55px;
    }
    .desc_derco {
        right: unset;
    }
    .desc_derco img {
        width: 100%;
    }
    h1 {
        font-size: 45px !important;
    }
    .hero_heroContent .heroContent--desc .desc_heading {
        line-height: 65px;
    }
    .destinations .destinations_bottom .bottom-destination a .destination__card {
        height: 33%;
    }
}

@media (max-width: 786px) {
    .values-companydesc {
        text-align: center;
    }
}

@media (max-width: 442px) {
    .values-companydesc {
        text-align: center;
    }
    .destinations {
        text-align: center;
    }
    .hero_heroContent {
        text-align: center;
    }
    .heroContent--desc {
        text-align: center;
    }
    .desc_cta {
        justify-content: center;
    }
    .desc_derco {
        right: unset;
        top: 20px;
    }
}


/* 576-991.9 */

@media (min-width: 576px) and (max-width: 991.9px) {
    h1 {
        font-size: 65px !important;
    }
    .heroContent--image {
        display: none;
    }
    .hero_derco {
        top: 0;
    }
    .desc_derco img {
        width: 100%;
    }
    .desc_cta {
        justify-content: center;
    }
    .heroContent--desc {
        text-align: center;
    }
    .navbar-collapse ul li {
        margin-right: 0;
    }
    .hero_top-nav .navbar {
        justify-content: end;
    }
    .desc_derco {
        position: absolute;
        right: 0;
        transform: translateY(65%);
        z-index: -1;
        top: 0;
    }
    .bookatrip .bookatrip_values .values-contents .content {
        justify-content: center;
        flex-direction: column;
    }
    .bookatrip .bookatrip_values .values-contents {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .bookatrip .bookatrip_values {
        text-align: center;
        margin-left: 0!important;
    }
    .bookatrip_image {
        display: none;
    }
    .testimonialsSection_content {
        text-align: center;
    }
    .testimonialsSection_content h1 {
        margin: auto;
    }
    .group61 {
        left: 300px;
        bottom: 150px;
    }
    .btn-search {
        text-align: center;
    }
    .subcribeSection_cover {
        display: none;
    }
    .testimonialsSection_content {
        margin-left: 0 !important;
    }
    .destinations {
        text-align: center;
    }
}


/*991 ->  */

@media (min-width: 992px) and (max-width: 1200px) {
    .heroContent--image {
        display: flex;
    }
    .hero_derco {
        top: -149px;
    }
    .navbar-collapse ul li {
        margin: auto;
    }
    .desc_derco {
        position: absolute;
        right: 0;
        transform: translateY(100%);
        z-index: -1;
        top: 0;
    }
    .bookatrip_image {
        display: none;
    }
    .bookatrip .bookatrip_values .values-contents {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .bookatrip .bookatrip_values .values-contents .content {
        justify-content: center;
        flex-direction: column;
    }
    .bookatrip .bookatrip_values {
        text-align: center;
        margin-left: 0!important;
    }
    .testimonialsSection_content {
        text-align: center;
    }
    .testimonialsSection_content h1 {
        margin: auto;
    }
    .group61 {
        left: 250px;
        bottom: 120px;
    }
    .subcribeSection_cover {
        display: none;
    }
}

@media (min-width: 1200px) {
    .desc_derco {
        display: flex;
    }
    .group61 {
        left: 300px;
        bottom: 150px;
    }
    .testimonialsSection_content {
        margin-left: 1.5rem!important;
    }
}