/* Import font GG */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@500;700&family=Volkhov:wght@700&display=swap');

/* P */

p,
span {
    font-family: 'Poppins';
    color: #5E6282;
}


/* h1 */

h1 {
    font-family: 'Volkhov';
}


/* body */

body {
    margin: auto;
    position: relative;
    width: 1440px;
    height: 4774px;
    background: #FFFFFF;
}


/* hero_heroContent */

.hero {
    width: 1440px;
    /* height: ; */
    left: -420px;
    top: -149px;
}

.hero_heroContent {
    position: absolute;
    width: 1200.87px;
    height: 764px;
    left: 150px;
    top: 105px;
}

.image_traveller1 {
    width: 765px;
    height: 764px;
    left: 565px;
    top: 105px;
    background: url(/Img/Traveller1.png);
}

.a-image {
    width: 137.29px;
    height: 95.23px;
    left: 698px;
    top: 233.43px;
    transform: rotate(-31.84deg);
    background: url(/Img/plane.png);
}


/* heroContent--image */

.heroContent--image {
    position: relative;
    right: 200.87px;
}


/* heroContent--desc */

.heroContent--desc {
    position: absolute;
    width: 630px;
    height: 535px;
    top: 112px;
}


/* desc_tagline */

.desc_tagline {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #DF6951;
}


/*desc_heading  */

.desc_heading {
    position: absolute;
    top: 54px;
    font-family: 'Volkhov', sans-serif;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181E4B;
}


/* desc_derco */

.desc_derco {
    right: 0.5%;
    position: absolute;
    width: 385px;
    z-index: -1;
    height: 12px;
    top: 21%;
}


/* desc_desc */

.desc_desc {
    width: 477px;
    position: absolute;
    top: 351px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}


/* desc_cta */

.desc_cta {
    display: flex;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    width: 379px;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.desc_cta a {
    display: flex;
    width: 170px;
    height: 60px;
    left: 148px;
    top: 692px;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgb(241 165 1 / 15%);
    border-radius: 10px;
    color: white;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.desc_cta button {
    display: inline-flex;
    width: 165px;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    border-color: white;
    background-color: white;
    color: #686D77;
}

.desc_cta i {
    border-radius: 50%;
    font-size: 52px;
    color: #DF6951;
    box-shadow: 0px 15px 30px rgb(223 105 81 / 30%);
}


/* hero_top-nav */

.hero_top-nav {
    display: flex;
    position: absolute;
    width: 1160.58px;
    height: 40px;
    left: 140.92px;
    justify-content: space-between;
    top: 47px;
}

.navbar ul {
    width: 915px;
}

.nav .btn {
    border: 1px solid #212832;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0;
    width: 102px;
    height: 40px;
}

.hero_top-nav a {
    font-size: 17px;
    color: #212832;
    font-weight: 600;
    font-family: 'Poppins';
    color: #5E6282;
}

.hero_top-nav .logo {
    width: 114.91px;
    height: 33.99px;
}

.nav li {
    margin: auto;
    border-radius: 0.25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #212832;
}

.nav-left {
    left: 335px;
    position: absolute;
}

.nav-right {}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: blue;
    /* background-color: #fff; */
}

li:nth-child(7) a {
    padding: 0.5rem 0rem;
}


/* hero_derco */

.hero_derco {
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
}


/* services */


/* services_top */

.services {
    position: absolute;
    width: 1270px;
    height: 525px;
    left: 112px;
    top: 966px;
}

.services_top {
    height: 166px;
}

.services_bottom {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 178px;
    width: 1170px;
}

.services_top span {
    position: absolute;
    top: 8px;
    right: 632px;
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
}

.services_top h1 {
    position: absolute;
    top: 45px;
    right: 407px;
    font-family: 'Volkhov';
    font-size: 50px;
}

.top-group4 {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-category {
    align-items: center;
    width: 267px;
    display: flex;
    justify-content: center;
    height: 314px;
    transition: box-shadow 0.1s ease-in-out;
}

.bottom-category:hover {
    transform: translateY(-1px);
}

.category__group {
    width: 181px;
    height: 216px;
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.1s ease-in-out;
}

.category__group img {
    width: 92px;
    height: 78px;
}

.category__group span {
    font-family: 'Open Sans';
    width: 190px;
    text-align: center;
    font-size: 20px;
}

.category__group p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 0;
    color: #5E6282;
}

.bottom-category:hover .category__cover {
    position: absolute;
    z-index: 1;
    width: 267px;
    height: 314px;
    /* white */
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
}

.bottom-category:hover .category__rectangle {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
}

.bottom-category .category__rectangle {
    display: none;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: flyUp 0.3s ease-out;
}

.bottom-category:hover .category__rectangle {
    display: block;
    transform: translate(-35px, 30px);
}


/* destinations */

.destinations {
    position: absolute;
    width: 1102px;
    height: 617px;
    left: 173px;
    top: 1614px;
}


/* destinations_top */

.destinations_top span {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5E6282;
    position: absolute;
    width: 100px;
    height: 27px;
    left: 459px;
    top: 0;
}

.destinations h1 {
    position: absolute;
    top: 35px;
    left: 317px;
    font-family: 'Volkhov', serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}


/* destinations_bottom */

.destinations_bottom {
    justify-content: space-between;
    position: absolute;
    top: 160px;
    width: 1040px;
}


/* destinations_derco */

.destinations_derco {
    position: absolute;
    right: 0;
    bottom: 47px;
    z-index: -1;
}


/* bottom_destination */

.bottom-destination {
    width: 315px;
    height: 457px;
    background-position: top;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02));
    border-radius: 24px;
}

.bottom-destination:hover {
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(231, 179, 179, 0.015)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.bottom-destination:nth-child(1) {
    background-image: url("./Img/Rectangle 14.png");
}

.bottom-destination:nth-child(2) {
    background-image: url("./Img/Rectangle 15.jpg");
}

.bottom-destination:nth-child(3) {
    background-image: url("./Img/Rectangle 16.png");
}

.destination__card {
    position: absolute;
    width: 315px;
    height: 130px;
    bottom: 0;
    /* white */
    background: #FFFFFF;
    border-radius: 0px 0px 22px 22px;
}

.destination__card p {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #5E6282;
    margin: 0;
}

.destination__card p i {
    margin-right: 14px;
}

.card--location {
    left: 20px;
    top: 27px;
}

.card--price {
    right: 25px;
    top: 28px;
}

.card--traveltime {
    font-size: 16px !important;
    bottom: 40px;
    left: 20px;
}


/*bookatrip */

.bookatrip {
    position: absolute;
    width: 1114px;
    height: 492px;
    left: 186px;
    top: 2417px;
    display: flex;
    flex-direction: column;
}

.bookatrip h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
}

.bookatrip span {
    font-weight: 600;
}

.bookatrip_values {
    height: 492px;
    width: 511px;
}

.bookatrip_image {
    display: flex;
    position: absolute;
    right: -95px;
    bottom: -145px;
}

.bookatrip_image img {
    width: unset
}

.image-derco {
    position: absolute;
    z-index: -1;
    margin: -35% 0;
}

.values-contents {
    width: 395px;
    display: flex;
    height: 289px;
    flex-direction: column;
    bottom: 0;
    justify-content: space-between;
    position: absolute;
}

.content__img img {
    margin-right: 15px;
    margin-top: 5px;
}

.content__info span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}

.content__info p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    margin-top: 5px;
    color: #5E6282;
}


/* testimonialsSection */

.testimonialsSection {
    position: absolute;
    width: 1165px;
    left: 186px;
    top: 3109px;
}

.testimonialsSection_slideShow {
    width: 669px;
    height: 356px;
    /* background-color: pink; */
    border-radius: 10px;
}

.group62 {
    position: absolute;
    width: 541px;
    height: 280px;
}

.group62_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 504px;
    height: 245px;
    padding: 28px 68px 34px 34px;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgb(0 0 0 / 2%), 0px 64.8148px 46.8519px rgb(0 0 0 / 1%), 0px 38.5185px 25.4815px rgb(0 0 0 / 1%), 0px 20px 13px rgb(0 0 0 / 1%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 30%);
    border-radius: 10px;
}

.group62_content img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-35px, -35px);
}

.group62_content p,
.group62_content span {
    line-height: 32px;
}

.info__name {
    font-size: 18px !important;
    font-weight: 600px;
    line-height: 27px;
}

.info__location {
    font-size: 14px;
    margin: 0;
    line-height: 21px;
}

.group62_cover {
    position: absolute;
    width: 502px;
    height: 232px;
    left: 87px;
    bottom: 0px;
    z-index: -1;
    bottom: 0px;
    padding: 28px 68px 34px 34px;
    ;
    /* border color */
    border: 1px solid #F7F7F7;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 10px;
}

.group62_cover .group62_content {
    justify-content: end;
    padding-bottom: 22px;
}

.group62_cover p {
    line-height: 21px;
}

.group62_cover span {
    line-height: 27px;
}

.testimonialsSection_content span {
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
}

.testimonialsSection_content h1 {
    font-weight: 700;
    font-size: 50px;
    width: 409px;
    line-height: 64px;
    color: #14183E;
    margin-top: 10px;
}

.testimonialsSection_content img {
    position: absolute;
    top: 256px;
}

.group61 {
    position: absolute;
    width: 87px;
    height: 12px;
    left: -484px;
    bottom: 88px;
}

.carousel-indicators {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}

.carousel-indicators li {
    flex: 0 1 auto;
    width: 12px;
    border-radius: 50%;
    height: 12px;
    background: #E5E5E5;
    cursor: pointer;
}

.carousel-indicators .active {
    background: #39425D;
}

.carousel-inner {
    position: relative;
    height: 356px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-item {
    height: 356px;
}

.control {
    display: flex;
    position: absolute;
    width: 14px;
    flex-direction: column;
    height: 71.5px;
    justify-content: space-between;
    right: 0px;
    top: 140.5px;
    color: black;
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
    position: unset;
    display: flex;
    justify-content: center;
    opacity: .5;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
    color: red;
}

.testimonialsSection {
    justify-content: space-between;
}


/* logos
 */

.logos {
    position: absolute;
    width: 1210px;
    height: auto;
    left: 125px;
    top: 3561px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logos_img {
    display: flex;
    justify-content: center;
    width: auto;
}

.logos a {
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 248px;
    height: 86px;
    margin: auto;
}

.logos a:hover {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}

.logos_img:hover a {
    width: 241px;
    height: 86px;
    left: 616px;
    top: 3603px;
    /* white */
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}


/* subcribeSection */

.subcribeSection {
    position: absolute;
    width: 1356px;
    height: 490px;
    left: 48px;
    top: 3834px;
}

.subcribeSection_iconsend {
    position: absolute;
    top: 0;
    right: 79px;
    z-index: 2;
}

.subcribeSection_content {
    position: absolute;
    top: 13px;
    right: 99px;
}

.subcribeSection_content p {
    position: absolute;
    width: 881px;
    height: 108px;
    left: 232px;
    top: 79px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    /* or 164% */
    text-align: center;
    /* TEXT CLR */
    color: #5E6282;
}

.subcribeSection_cover {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content-search {
    position: absolute;
    width: 421px;
    left: 339px;
    height: 68px;
    top: 261px;
    background: #FFFFFF;
    border-radius: 10px;
}

.search__icon {
    position: absolute;
    left: 31px;
    top: 25px;
}

.form-control {
    width: 421px;
    height: 68px;
    left: 339px;
    border-radius: 10px;
    font-family: 'poppies';
    padding-left: 66px;
}

.btn-subcribe {
    border: none;
    padding: 14px 50px;
    border-radius: 10px;
    background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
    position: absolute;
    width: 180px;
    height: 68px;
    right: 293px;
    top: 261px;
}


/* footer */

.footer {
    position: absolute;
    width: 1350px;
    height: 633.86px;
    /* left: 186px; */
    top: 4420px;
    /* background-color: rgb(236, 203, 203); */
}

.row {
    padding: 0;
}

.footer_values .row {
    padding: 0;
    margin: 0;
}

.values-companydesc {
    /* position: absolute; */
    width: 207px;
    height: 133px;
    left: 0;
    top: 0px;
}

.values-outbound {
    margin-top: 0.5rem!important;
}

.footer a {
    color: #5E6282;
    font-weight: 500;
    font-size: 18px;
}

.footer_copyright {
    text-align: center;
    margin-top: 68px !important
}

.footer span {
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    /* or 26px */
    /* black */
    color: #080809;
}

.values-companydesc p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
}

.values-navColumns span {
    margin-bottom: 34px;
}

.outbound__social p {
    font-size: 20px;
    font-weight: 500;
}

.footer_copyright p {
    font-weight: 500;
    font-size: 14px;
}

.outbound__iscover {}


/* position: absolute;
display: flex;
flex-direction: column;
right: 0;
justify-content: space-between;
width: 14px;
height: 140.5px;
bottom: 144px; */


/* Reponsive */

@media (min-width: 992px) {
    .heroContent--image {
        display: flex;
    }
    .destination__card {
        width: 316px;
        height: 131px;
        bottom: -1px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .values-outbound,
    .values-companydesc,
    .values-navColumns {
        align-items: center;
        margin-top: 0.5rem!important;
    }
    .outbound__iscover {
        justify-content: space-evenly;
        width: 30%;
    }
    .logos {
        top: 3900px;
    }
    .testimonialsSection_content h1 {
        width: unset;
    }
    .nav li {
        margin-right: 0;
        border: 1px solid green;
        width: 25%;
        background-color: #fff1da;
    }
    .nav .btn {
        /* border: 1px solid green; */
        width: 25%;
    }
    .navbar {
        justify-content: end;
    }
    .navbar ul {
        /* background-color: #ffff;
        border: 1px solid green; */
    }
    .hero_heroContent {
        z-index: -1;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #212832;
        text-align: end;
        padding-right: 4%;
    }
    .heroContent--image {
        display: none;
    }
    .heroContent--desc {
        position: unset;
        width: unset;
    }
    .category__group {
        width: 100%;
    }
    .bottom-category {
        width: unset;
    }
    .destinations {
        top: 1700px;
    }
    .services {
        top: 760px
    }
    .destination__card {
        width: 316px;
        left: 102px;
        bottom: -1px;
    }
    .bottom-destination {
        margin-bottom: 2rem;
    }
    .bookatrip_values {
        margin: auto;
    }
    .bookatrip {
        top: 2870px;
    }
    /* .testimonialsSection_slideShow {
        margin-left: 50%;
    } */
    /* .group61 {
        left: -356px;
        bottom: 190px;
    /* } */
    .testimonialsSection {
        top: 3500px;
    }
    .subcribeSection {
        top: 4100px;
    }
    .footer {
        top: 4600px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .bookatrip_values {
        margin: auto;
    }
    .group61 {
        left: -356px;
        bottom: 190px;
    }
    .testimonialsSection_slideShow {
        margin-left: 45%;
    }
    .testimonialsSection_content h1 {
        width: unset;
    }
    .nav li {
        margin-right: 0;
        border: 1px solid green;
        width: 25%;
        background-color: #fff1da;
    }
    .nav .btn {
        /* border: 1px solid green; */
        width: 25%;
    }
    .navbar {
        justify-content: end;
    }
    .navbar ul {
        /* background-color: #ffff;
        border: 1px solid green; */
    }
    .hero_heroContent {
        z-index: -1;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #212832;
        text-align: end;
        padding-right: 4%;
    }
    .heroContent--image {
        display: none;
    }
    .heroContent--desc {
        position: unset;
        width: unset;
    }
    .category__group {
        width: 100%;
    }
    .bottom-category {
        width: unset;
    }
    .services {
        top: 760px;
    }
    .destination__card {
        width: 316px;
        left: 102px;
        bottom: -1px;
    }
    .bottom-destination {
        margin-bottom: 2rem;
    }
    .bookatrip_image {
        display: none;
    }
    .bookatrip {
        top: 2800px;
    }
    .testimonialsSection {
        top: 3350px;
    }
    .logos {
        top: 3900px;
    }
    .subcribeSection {
        top: 4100px;
    }
    .footer {
        top: 4600px;
    }
}

@media (max-width: 575.98px) {
    .values-companydesc,
    .values-navColumns,
    .values-outbound {
        align-items: center;
        margin: auto;
        text-align: center;
    }
    .outbound__iscover {
        justify-content: space-evenly;
        width: 30%;
    }
    .outbound__social {
        align-items: center;
    }
    .testimonialsSection {
        top: 2980px;
    }
    .testimonialsSection_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .testimonialsSection_slideShow {
        margin: auto;
    }
    .group61 {
        bottom: -45px;
        right: 47%;
        left: unset;
    }
    .testimonialsSection_content h1 {
        width: unset;
    }
    .nav li {
        margin-right: 0;
        border: 1px solid green;
        width: 25%;
        background-color: #fff1da;
    }
    .nav .btn {
        /* border: 1px solid green; */
        width: 25%;
    }
    .navbar {
        justify-content: end;
    }
    .navbar ul {
        /* background-color: #ffff;
        border: 1px solid green; */
    }
    .hero_heroContent {
        z-index: -1;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #212832;
        text-align: end;
        padding-right: 4%;
    }
    .navbar-light:hover .navbar-nav:hover .nav-link:hover {
        background-color: #fff;
    }
    .heroContent--image {
        display: none;
    }
    .heroContent--desc {
        position: unset;
        width: unset;
    }
    .category__group {
        width: 100%;
    }
    .bottom-category {
        width: unset;
    }
    .services {
        top: 760px
    }
    .destinations {
        top: 2265px;
    }
    .footer {
        top: 5750px;
        ;
    }
    .subcribeSection {
        top: 5250px;
    }
    .logos {
        top: 5030px;
    }
    .bookatrip {
        top: 3930px;
    }
    .testimonialsSection {
        top: 4500px;
    }
    .bottom-destination:nth-child(1),
    .bottom-destination:nth-child(2),
    .bottom-destination:nth-child(3) {
        background-repeat: no-repeat;
    }
    .destination__card {
        left: 34.8%;
    }
    .bottom-destination {
        margin-bottom: 2rem;
    }
    .bookatrip_image {
        display: none;
    }
    .bookatrip_values {
        margin: auto;
    }
}