/* Import font GG */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@500;700&family=Volkhov:wght@700&display=swap');

/* P */

p,
span {
    font-family: 'Poppins';
    color: #5E6282;
}


/* hidden scroll */

::-webkit-scrollbar {
    display: none;
}


/* h1 */

h1 {
    font-family: 'Volkhov';
}


/* body */

body {
    background: #FFFFFF;
}


/* hero  */

.hero {
    margin: auto;
    margin-top: 47px !important;
}

.hero_top-nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    /* align-self: center; */
}

.navbar-collapse ul li {
    margin: auto;
}

.hero_top-nav .navbar .navbar-collapse ul li a {
    font-family: 'Poppins';
    color: #5E6282;
}

.hero_heroContent {
    margin-top: 18px;
}

.hero_heroContent .heroContent--desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_heroContent .heroContent--desc .desc_tagline {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-transform: uppercase;
    color: #DF6951;
}

.hero_heroContent .heroContent--desc .desc_heading {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    /* or 106% */
    letter-spacing: -0.04em;
    /* 1st */
    color: #181E4B;
}

.desc_cta {
    display: flex;
    font-family: 'Poppins', sans-serif;
    width: 379px;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.desc_cta a {
    display: flex;
    width: 170px;
    height: 60px;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgb(241 165 1 / 15%);
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

.desc_cta button {
    display: inline-flex;
    width: 165px;
    justify-content: space-between;
    align-items: center;
    border-color: white;
    background-color: white;
    color: #686D77;
}

.desc_cta i {
    border-radius: 50%;
    font-size: 52px;
    color: #DF6951;
    box-shadow: 0px 15px 30px rgb(223 105 81 / 30%);
}

.hero_heroContent .heroContent--image img {
    width: 100%;
}

.hero_derco {
    position: absolute;
    top: -149px;
    right: 0;
    z-index: -2;
}

.hero_derco img {}


/* Services */

.services {
    margin-top: 97px !important;
}

.services .services_top {
    text-align: center;
}

.services .services_top .top-group4 {
    position: absolute;
    top: 0;
    right: 0;
}

.services .services_bottom {
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
}

.services .services_bottom .bottom-category {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 314px;
    transition: box-shadow 0.1s ease-in-out;
}

.services .services_bottom .bottom-category .category__group {
    height: 216px;
    z-index: 2;
    justify-content: space-between;
    transition: box-shadow 0.1s ease-in-out;
}

.services .services_bottom .bottom-category .category__cover {
    position: absolute;
    z-index: 1;
    width: 267px;
    height: 314px;
}

.services .services_bottom .bottom-category .category__cover .cover--rectangle {
    display: none;
    z-index: -1;
    position: absolute;
    bottom: -30px;
    left: -40px;
    animation: flyUp 0.3s ease-out;
}

.services .services_bottom .bottom-category:hover .category__cover .cover--rectangle {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
    display: block;
}

.services .services_bottom .bottom-category:hover .category__cover .cover--background {
    background: #FFFFFF;
    border-radius: 36px;
    z-index: 2;
    height: 100%;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.services .services_bottom .bottom-category .category__group p {
    width: 181px;
}

.services_bottom .bottom-category .category__group span {
    font-family: 'Open Sans';
    width: 190px;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
}

.services .services_bottom .bottom-category .category__group p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;
}

.services .services_bottom .bottom-category .category__group img {
    width: 92px;
    height: 78px;
}


/* destinations */

.destinations {
    margin-top: 123px !important;
}

.destinations .destinations_bottom {}

.destinations .destinations_bottom .bottom-destination a {
    z-index: 1;
}

.destinations .destinations_bottom .bottom-destination .destinations_derco {
    position: absolute;
    right: 0;
    bottom: 47px;
    transform: translateX(55%);
    z-index: -1;
}

.destinations .destinations_bottom .bottom-destination {
    height: 457px;
    margin-top: 60px !important;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02));
    border-radius: 25px;
}

.destinations .destinations_bottom .bottom-destination a .destination__card {
    position: absolute;
    background: #FFFFFF;
    bottom: 0;
    height: 130px;
    border-radius: 0px 0px 25px 25px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.destinations .destinations_bottom .bottom-destination a .destination__img {
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 25px;
}

.destinations .destinations_bottom .bottom-destination a .destination__img img {
    width: 100%;
    repeat: no-repeat;
}

.destinations .destinations_bottom .bottom-destination a .destination__card p {
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    color: #5E6282;
    margin: 0;
}

.destinations .destinations_bottom .bottom-destination a .destination__card p i {
    margin-right: 14px;
}

.destinations .destinations_bottom .bottom-destination a .destination__card .card--location {
    left: 20px;
    top: 27px;
}

.destinations .destinations_bottom .bottom-destination a .destination__card .card--price {
    right: 25px;
    top: 28px;
}

.destinations .destinations_bottom .bottom-destination a .destination__card .card--traveltime {
    font-size: 16px !important;
    bottom: 40px;
    left: 20px;
}

.destinations .destinations_bottom .bottom-destination .destinations_derco {
    display: none;
}

.destinations .destinations_bottom .bottom-destination:hover .destinations_derco {
    display: block;
}

.destinations .destinations_bottom .bottom-destination:hover {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}


/* bookatrip */

.bookatrip {
    margin-top: 186px !important;
}

.bookatrip .bookatrip_values {
    /* height: 492px; */
    /* width: 511px; */
    margin-left: 25px;
}

.bookatrip .bookatrip_values h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
}

.bookatrip .bookatrip_values span {
    font-weight: 600;
}

.bookatrip .bookatrip_values .values-contents {
    /* width: 395px; */
    /* display: flex;
    height: 289px;
    flex-direction: column;
    bottom: 0;
    justify-content: space-between; */
    /* position: absolute; */
}

.bookatrip .bookatrip_values .values-contents .content {
    flex-direction: row;
}

.bookatrip .bookatrip_values .values-contents .content .content__img img {
    margin-right: 15px;
    margin-top: 5px;
}

.bookatrip .bookatrip_values .values-contents .content .content__info span {
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}

.bookatrip .bookatrip_values .values-contents .content .content__info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    margin-top: 5px;
}

.bookatrip .bookatrip_image .image-derco {
    position: absolute;
    z-index: -1;
    /* width: 100%; */
}

.bookatrip .bookatrip_image img {
    z-index: 2;
    width: 100%;
}


/* testimonialsSection */

.testimonialsSection {
    margin-top: 150px !important;
}

.testimonialsSection_slideShow {
    /* background-color: pink; */
    border-radius: 10px;
}

.group62 {
    /* position: absolute;
    width: 541px;
    height: 280px; */
}

.content-values {
    padding: 34px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 37px;
    box-shadow: 0px 100px 80px rgb(0 0 0 / 2%), 0px 64.8148px 46.8519px rgb(0 0 0 / 1%), 0px 38.5185px 25.4815px rgb(0 0 0 / 1%), 0px 20px 13px rgb(0 0 0 / 1%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 30%);
}

.group62_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* position: absolute; */
    height: 245px;
    /* padding: 28px 68px 34px 34px; */
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    /* box-shadow: 0px 100px 80px rgb(0 0 0 / 2%), 0px 64.8148px 46.8519px rgb(0 0 0 / 1%), 0px 38.5185px 25.4815px rgb(0 0 0 / 1%), 0px 20px 13px rgb(0 0 0 / 1%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 30%); */
    border-radius: 10px;
}

.group62_content img {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-35px, -35px); */
}

.group62_content p,
.group62_content span {
    line-height: 32px;
}

.info__name {
    font-size: 18px !important;
    font-weight: 600px;
    line-height: 27px;
}

.info__location {
    font-size: 14px;
    margin: 0;
    line-height: 21px;
}

.group62_cover {
    position: absolute;
    width: 502px;
    height: 232px;
    left: 20%;
    bottom: 0px;
    z-index: -1;
    bottom: 0px;
    padding: 28px 68px 34px 34px;
    ;
    /* border color */
    border: 1px solid #F7F7F7;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 10px;
}

.group62_cover .group62_content {
    justify-content: end;
    padding-bottom: 22px;
}

.group62_cover p {
    line-height: 21px;
}

.group62_cover span {
    line-height: 27px;
}

.testimonialsSection_content span {
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
}

.testimonialsSection_content h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
    margin-top: 10px !important;
}

.testimonialsSection_content img {
    position: absolute;
    top: 256px;
}

.group61 {
    position: absolute;
    width: 87px;
    height: 12px;
    left: -484px;
    bottom: 88px;
}

.carousel-indicators {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}

.carousel-indicators li {
    flex: 0 1 auto;
    width: 12px;
    border-radius: 50%;
    height: 12px;
    background: #E5E5E5;
    cursor: pointer;
}

.carousel-indicators .active {
    background: #39425D;
}

.carousel-inner {
    position: relative;
    height: 356px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-item {
    height: 356px;
}

.control {
    display: flex;
    position: absolute;
    width: 14px;
    flex-direction: column;
    height: 71.5px;
    justify-content: space-between;
    right: 0px;
    top: 140.5px;
    color: black;
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
    position: unset;
    display: flex;
    justify-content: center;
    opacity: .5;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
    color: red;
}

.testimonialsSection {
    justify-content: space-between;
}

.logos {
    /* position: absolute;
    width: 1210px;
    height: auto;
    left: 125px;
    top: 3561px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logos_img {
    display: flex;
    justify-content: center;
    width: auto;
}

.logos a {
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 248px;
    height: 86px;
    margin: auto;
}

.logos a:hover {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}

.logos_img:hover a {
    width: 241px;
    height: 86px;
    left: 616px;
    top: 3603px;
    /* white */
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}


/* subcribe */

.subcribeSection {
    margin-top: 124px !important;
    background-image: url("../Img/Rectangle 164.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 0 20px 20px;
    /* position: absolute;
    width: 1356px;
    height: 490px;
    left: 48px;
    top: 3834px; */
}

.subcribeSection_iconsend {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
}

.subcribeSection_content {
    /* position: absolute; */
    /* top: 13px;
    right: 99px; */
}

.subcribeSection_items {
    margin-bottom: 35px !important;
}

.subcribeSection_content p {
    /* position: absolute;
    width: 881px; */
    /* height: 108px;
    left: 232px; */
    margin-top: 50px !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    /* or 164% */
    text-align: center;
    /* TEXT CLR */
    color: #5E6282;
}

.subcribeSection_cover {
    position: absolute;
    bottom: -103px;
    right: -190px;
    z-index: -3;
}

.content-search {
    /* position: absolute; */
    left: 339px;
    height: 68px;
    margin-top: 35px !important;
    background: #FFFFFF;
    border-radius: 10px;
}

.search__icon {
    position: absolute;
    margin-left: 30px;
    top: 60px;
}

.form-control {
    height: 68px;
    left: 339px;
    border-radius: 10px;
    font-family: 'poppies';
    padding-left: 66px;
}

.btn-subcribe {
    margin-top: 35px !important;
    border: none;
    padding: 14px 50px;
    border-radius: 10px;
    background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
    /*   */
    height: 68px;
    right: 293px;
    top: 261px;
}


/* footer */

.footer {
    margin-top: 96px !important;
}

.row {
    padding: 0;
}

.footer_values .row {
    padding: 0;
    margin: 0;
}

.values-companydesc {
    /* position: absolute; */
    left: 0;
    top: 0px;
}

.values-outbound {
    margin-top: 0.5rem!important;
}

.footer a {
    color: #5E6282;
    font-weight: 500;
    font-size: 18px;
}

.footer_copyright {
    text-align: center;
    margin-top: 68px !important
}

.footer span {
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    /* or 26px */
    /* black */
    color: #080809;
}

.values-companydesc p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
}

.values-navColumns span {
    margin-bottom: 34px;
}

.values-navColumns {
    text-align: center;
}

.outbound__iscover {
    justify-content: center;
}

.outbound__social {
    align-self: center;
}

.outbound__social p {
    font-size: 20px;
    font-weight: 500;
}

.footer_copyright p {
    font-weight: 500;
    font-size: 14px;
}